<%- include("header") -%>

<h2>Hello, I'm Konadu</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iure
  laboriosam, iusto quo voluptatum quam accusantium non vitae deserunt quia
  cupiditate minima illo sit, odio quos rem aliquid, tenetur voluptate?
</p>

<%- include ("footer") -%> 