<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= _date %></h1>

    <ul>
      <li>Buy food</li>
      <li>Cook the food</li>
      <li>Eat the food</li>
      <li><%= addToDo1 %> </li>
    </ul>
    <form action="/" method="post">
      <input type="text" placeholder="Type your To Do here" name="toDoItem" />
      <input type="submit" value="Add To The List" />
    </form>
  </body>
</html>
