* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("/src/Images/background.png");
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  background-color: white;
  color: #f5ba13;
  padding: 1rem;
  border: white;
  float: right;
}

.note button:hover {
  cursor: pointer;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin: 24px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
}

.formInput .formInput-title {
  display: block;
  width: 100%;
  padding: 8px;
  border-right: #fff;
  border-left: #fff;
  border-top: #fff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.formInput-title-first {
  display: block;
  width: 100%;
  padding: 8px;
  border-right: #fff;
  border-left: #fff;
  border-top: #fff;
  border-bottom: #fff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.formInput .formInput-content {
  display: block;
  width: 100%;
  padding: 8px;
  border-right: #fff;
  border-left: #fff;
  border-top: #fff;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
  margin-top: 24px;
}

textarea:focus,
input:focus {
  outline: none;
}

.formInput .formInput-button {
  display: block;
  background-color: #f5ba13;
  margin-left: auto;
}

.formInput .formInput-button:hover {
  cursor: pointer;
}
